.Boton-reserva{
    margin-top: 10;
    padding: 2%;


}
body {
    background-color: darkred;
}

.navbar {
    background-color: darkred !important;
}
.nav-link {
    color: white !important;
}
.navbar-light {
    color: whitesmoke !important;
}
.navbar-brand {
    padding-left: 20%;
    color: white !important;
    font-family: 'Italianno', cursive;
    font-size: 50pt;
}
.contact {
    padding: 5%;
    color: white !important;
    font-family: 'Italianno', cursive;
    font-size: 20pt;
    
}
.location {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.location iframe{
    padding: 2%;
}
.btn-primary {
    width: 20%;
    font-size: 20pt;
}
.socialmedia {
    
    margin-left: 20%;
    margin-top: 5%;
    height: 30%;
}
.socialmedia a, .socialmedia h4{
    margin-left: 20%;
    
}
i {
    font-size: 30pt;
}
#cont {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
